{% extends "adashi/admin/layouts/base2.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load ravepay %}
{% block content %}
<div class="content">
  <div class="container-fluid">

    <div class="row">
      {% for category in categories %}
      <div id="paymentForm"  class="col-md-4">
        <div class="card card-chart">
          <div class="card-header " style="background:#264d73;">
            <div class="ct-chart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{category.name}}</h4>
            <p class="card-category">
              <span class="text-primary"><i class="fa fa-users"></i> Participants</span>:
              <strong>{{category.num_of_members}}</strong></p>

            <p class="card-category">
              <span class="text-primary"><i class="fa fa-money"></i> Total Amount</span>:
              <strong>{{category.cum_amount}}</strong></p>

            <p id="amount" class="card-category">
              <span class="text-primary"><i class="fa fa-money"></i> You pay</span>:
              <strong>{{category.contrib_amount}}</strong></p>

            <p class="card-category">
              <span class="text-primary"><i class="fa fa-users"></i> Round Up Interval</span>:
              <strong>{{category.num_of_days_per_turn}} days</strong></p>
            <p class="card-category">
              <span class="text-primary"><i class="fa fa-clock"></i>Ends </span>: <strong>{{category.end_date}}</strong>
            </p>
          </div>
          <!-- <button type="button" onClick="makePayment()">Pay Contribution</button> -->
          <a href='{% url "detail" category.id %}' class="btn btn-primary btn-sm">VIEW MEMBERS</a>
        </div>
        <form id="paymentForm">
       
          <div class="form-group" >
            <label for="email">Email Address</label>
            <input type="email" id="email-address" value="{{request.user.email}}" required />
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="tel" id="amounts" required value="{{category.contrib_amount}}"/>
          </div>
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name"  value="{{request.user.first_name}} {{request.user.last_name}}"/>
          </div>
          <div class="form-group">
            <label for="last-name">Phone</label>
            <input type="text" id="last-name" value="{{request.user.mobile}}" />
          </div>
          
          <script src="https://checkout.flutterwave.com/v3.js"></script>
          <button type="button" onClick="makePayment()">Pay Contribution</button>
        </form>
      <script>
      function makePayment() {
        FlutterwaveCheckout({
          public_key:'FLWPUBK_TEST-31d61a13026483fc38f15f0e90232374-X',
          tx_ref: ''+Math.floor((Math.random() * 1000000000) + 1),
          amount:document.getElementById("amounts").value,
          currency: "NGN",
          country: "NG",
          payment_options: "card",
          redirect_url: // specified redirect URL
            "https://corpad.ng",
          meta: {
            consumer_id: 23,
            consumer_mac: "92a3-912ba-1192a",
          },
          customer: {
            email: document.getElementById("email-address").value,
            phone_number: document.getElementById("last-name").value,
            name: document.getElementById("first-name").value,
          },
          callback: function (data) {
            console.log(data);
          },
          onclose: function() {
            // close modal
          },
          customizations: {
            title: "CORPAD ADASHI",
            description: "Payment for Group Savings.",
            logo: "https://iili.io/2Z41Ul.th.jpg",
          },
        });
      }
      </script>
      </div>
     
      {%endfor%}
      
    </div>
    
  </div

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
        <div class="col-xl-4 col-sm-6 col-12"> 
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-users primary font-large-2 float-left"></i>
                    <br><br><br>
                    <br>
                    <h4>N 1000</h4>
                    <br>
                    <br>
                    <a href="">Join</a>
                  </div>
                  <div class="media-body text-right">
                    <h3>30</h3>
                    <span>Group Members</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
</section>
</div>
 
  {% endblock %}