<p><label for="id_first_name">First name:</label> <input type="text" name="first_name" maxlength="30" id="id_first_name"></p> 
<p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" maxlength="30" id="id_last_name"></p>     
<p><label for="id_email">Email:</label> <input type="email" name="email" maxlength="100" autofocus required id="id_email"></p>
<p><label for="id_gender">Gender:</label> <select name="gender" required id="id_gender">
  <option value="" selected>---------</option>

  <option value="male">Male</option>

  <option value="female">Female</option>

  <option value="others">Others</option>

</select></p>
<p> <input type="password" name="password1" class="form-control" placeholder="Enter Password" required id="id_password1"></p>       
<p> <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required id="id_password2"></p> 