

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a target="_blank" href="https://corpad.ng" class="simple-text logo-mini">
          CORPAD
          </a>
          <a target="_blank" href="https://corpad.ng" class="simple-text logo-normal">
            Admin Dashboard
          </a>
        </div>

        <ul class="nav">
        {% if user.is_authenticated %}
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href='{% url "create-group" %}'>
              <i class="tim-icons icon-simple-add"></i>
              <p>Create Adashi Group</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href='{% url "register" %}'>
              <i class="tim-icons icon-simple-add"></i>
              <p>Create User</p>
            </a>
          </li>
          <!-- <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href='{% url "create-product" %}'>
              <i class="tim-icons icon-simple-add"></i>
              <p>Create Shop Post</p>
            </a>
          </li> -->
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href='{% url "create-product" %}'>
              <i class="tim-icons icon-simple-add"></i>
              <p>Create Commodity</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "create-schema" %}'>
              <i class="tim-icons icon-simple-add"></i>
              <p>Create Investment Options</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "users_list" %}'>
              <i class="tim-icons icon-single-02"></i>
              <p>List of users</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "investors_list" %}'>
              <i class="tim-icons icon-single-02"></i>
              <p>List of investors</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "message-list" %}'>
              <i class="tim-icons icon-chat-33"></i>
              <p>View User Messages</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "create-notification" %}'>
              <i class="tim-icons icon-bell-55"></i>
              <p>Send Notifications</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "create-announcement" %}'>
              <i class="tim-icons icon-alert-circle-exc"></i>
              <p>Send Announcement</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="#">
              <i class="tim-icons icon-wallet-43"></i>
              <p>Wallet Transactions</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "pay" %}'>
              <i class="tim-icons icon-bank"></i>
              <p>Make Investor's Payment</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "join-list" %}'>
              <i class="tim-icons icon-notes"></i>
              <p>Approve Adashi Join Requests</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href='{% url "loan-list" %}'>
              <i class="tim-icons icon-paper"></i>
              <p>View Loan Applications</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="">
            <a target="_blank" 
               href='{% url "login" %}'>
              <i class="tim-icons icon-spaceship"></i>
              <p>Login</p>
            </a>
          </li>          
          {% endif %}

        </ul>
        
      </div>
    </div>
