

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-mini">
            BD
          </a>
          <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-normal">
            Django Dashboard
          </a>
        </div>

        <ul class="nav">
        {% if user.is_authenticated %}
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Create Adashi Group</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="/ui-icons.html">
              <i class="tim-icons icon-atom"></i>
              <p>Create User</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/ui-maps.html">
              <i class="tim-icons icon-pin"></i>
              <p>Create Shop Post</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Create Commodity</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Create Investment Options</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>List of users</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>List of investors</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>View User Messages</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Send Announcement</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Wallet Transactions</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Make Investor's Payment</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Approve Adashi Join Request</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>View Loan Applications</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Approve Loans</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="">
            <a target="_blank" 
               href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
              <i class="tim-icons icon-spaceship"></i>
              <p>Login</p>
            </a>
          </li>          
          {% endif %}

        </ul>
        
      </div>
    </div>
