
{% extends "adashi/admin/layouts/base2.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/wallet.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="iphone">
      <div class="header">
        <div class="header-summary">
          <div class="summary-text">
            My Balance
          </div>
          <div class="summary-balance">
            $ {{ curr_user.balance }}
          </div>
          <!-- <div class="summary-text-2">
            +&nbsp;280.00
          </div> -->
        </div>
        <div class="user-profile">
          <img src="{{user.profile_pic.url}}" class="user-photo">
        </div>
      </div>
      <div class="content">
        <div class="card">
          <div class="upper-row">
            <div class="card-item">
              <span>Wallet No</span>
              <span><span class="dollar">{{ curr_user.account_number }} </span>
            </div>
            <div class="card-item">
              <span>Actual balance</span>
              <span> <span class="dollar">$ {{ curr_user.balance }} </span>
            </div>
          </div>
          <div class="lower-row">
            <div class="icon-item">
              <div class="icon"><i class="fa fa-upload"></i></div>
              <div class="icon-text">Top-up</div>
            </div>
            <div class="icon-item">
              <div class="icon"><i class="fa fa-money"></i></div>
              <div class="icon-text">Withdraw</div>
            </div>
            <div class="icon-item">
              <div class="icon"><i class="fa fa-paper-plane"></i></div>
              <div class="icon-text"><a href='{% url "money_transfer" %}'>Send</a></div>
            </div>
            <div class="icon-item">
              <div class="icon"><i class="fa fa-credit-card"></i></div>
              <div class="icon-text">Pay</div>
            </div>
          </div>
        </div>
        <div class="transactions"><span class="t-desc">Recent Transactions</span>
          <div class="transaction">
            <div class="t-icon-container"><img src="https://99designs.ca/og-image.png?utm_source=google&utm_medium=cpc&utm_network=g&utm_creative=323294316363&utm_term=99designs&utm_placement=&utm_device=c&utm_campaign=CA%20-%2099designs%20Branded&utm_content=99designs%20-%20exact&gclid=Cj0KCQjw4qvlBRDiARIsAHme6ouhXyscC85e3wUS5loKQ1rgpHSs2IyrD4Z_DwuWQLNXgClEeEebi48aAujREALw_wcB"
                class="t-icon"></div>
            <div class="t-details">
              <div class="t-title">99 designs</div>
              <div class="t-time">03.45PM
              </div>
            </div>
            <div class="t-amount">+&nbsp;750$
            </div>
          </div>

          <div class="transaction">
            <div class="t-icon-container"><img src="https://www.paypalobjects.com/webstatic/icon/pp144.png" class="t-icon"></div>
            <div class="t-details">
              <div class="t-title">Paypal </div>
              <div class="t-time">03.45 AM
              </div>
            </div>
            <div class="t-amount">+&nbsp;200$
            </div>
          </div>

          <div class="transaction">
            <div class="t-icon-container"><img src="https://cdn.dribbble.com/assets/dribbble-ball-192-ec064e49e6f63d9a5fa911518781bee0c90688d052a038f8876ef0824f65eaf2.png" class="t-icon"></div>
            <div class="t-details">
              <div class="t-title">99 designs</div>
              <div class="t-time">08.00PM
              </div>
            </div>
            <div class="t-amount red">-&nbsp;120$
            </div>
          </div>
        </div>
      </div>
      <div class="drawer">
        <span><a href='{% url "home" %}'><i class="fa fa-home"></i></a></span>
        <span><i class="fa fa-bar-chart"></i></span>
        <div class="menu-btn"><i class="fa fa-plus"></i></div>
        <span><!---to evenly space icons---></span>
        <span><i class="fa fa-sticky-note"></i> </span>
        <span><a href='{% url "profile" %}'><i class="fa fa-user"></i></a> </span>
      </div>

    </div>
  </div>
 {% endblock %}