{% extends "adashi/admin/layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 
{% load accounts_tags %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title"> This is a list of all user wallets  in CORPAD</h4>
        <p class="category"> The current record is {% total_users %} user wallets.</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                
                <th>
                  A/C Number
                </th>
                <th>
                  Balance
                </th>
                <th>
                  Customer
                </th>
              <th>Edit Wallet</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                
                <td>
                  {{object.account_number}}
                </td>
                <td>
                  {{object.balance }}
                </td>
                <td>
                  {{object.user_name}}
                </td>
                <td><a href='{% url "wallet-detail" object.id %}'>Edit</a></td>
              </tr>
              {% endfor %}
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
