{% extends "adashi/admin/layouts/base2.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
        <div class="container-fluid">
          
          <div class="row">
            {% for category in categories %}
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header " style="background:#264d73;">
                  <div class="ct-chart" ></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{category.name}}</h4>
                  <p class="card-category">
                    <span class="text-primary"><i class="fa fa-users"></i> Participants</span>: <strong>{{category.num_of_members}}</strong></p>

                  <p class="card-category">
                    <span class="text-primary"><i class="fa fa-money"></i> Total Amount</span>: <strong>{{category.cum_amount}}</strong></p>

                  <p class="card-category">
                    <span class="text-primary"><i class="fa fa-money"></i> You pay</span>: <strong>{{category.contrib_amount}}</strong></p>

                  <p class="card-category">
                    <span class="text-primary"><i class="fa fa-users"></i> Round Up Interval</span>: <strong>{{category.num_of_days_per_turn}} days</strong></p>
                  <p class="card-category">
                    <span class="text-primary"><i class="fa fa-clock"></i>Ends </span>: <strong>{{category.end_date|date}}</strong></p>
                </div>
                <a href='{% url "detail" category.id %}' class="btn btn-primary btn-sm">VIEW MEMBERS</a>
              </div>
              <br><br>
            </div>
            
            {%endfor%}
              
    </div>
  </div>
  {% endblock %}