
  {% load static %}
  {% load accounts_tags %} 
<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Corpad Platform </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %} ">

</head>

<body>
<!-- site header -->
<header id="site-header" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{%url 'home' %}">
          <span class="fa fa-shield"></span>CORPAD PLATFORM
      </a>
      <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{%url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'account_status' %}">E-wallet</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href='{% url "request-loan" %}'>Commodity Loans</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href='{% url "store" %}'>Shop</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="# ">Adashi</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href='{% url "investment_list" %}'>Investments</a>
              </li>
              {% endif %}
          </ul>
          
      </div>
  </nav>
</header>
<!-- //site header -->

<!-- banner section -->
<section id="home" class="banner">
    <div id="banner-bg-effect" class="banner-effect"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 col-sm-12 order-lg-first mt-lg-0 mt-4">
                <h1 class="mb-4 title">The best platform you have been waiting for.
                </h1>
                <p></p>
                {% if user.is_authenticated %}
                {% else%} 
                 <div class="mt-5">
                    <a class="btn btn-primary btn-style mr-2" href="{% url 'register' %} ">Register </a>
                    <a class="btn btn-outline btn-outline-style" href="{% url 'login' %}" >Login</a>
                </div>
              {% endif %} 
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 order-first text-lg-left text-center">
                <div>
          <a href='{% url "home" %}'><img src="{% static 'images/CORPAP3.png' %} " alt="" class="rounded-circle img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->



<!-- about page form section -->
<!-- //home page about -->

<!-- home page service grids -->
<section id="services" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
        <h4 class="section-title">ADASHI SAVINGS SCHEME</h4>
        <p class="text-center">The following groups are currently registered with us.</p>
      </div>
    </div>
    <div class="row mt-lg-5">
      {% for x in categories %}
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-clock-o">Formed on {{x.date|date}}</span>
          </div>
          <h4><a href="#url">Group Id {{x.id}}</a></h4>
          <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name of the group</th>
      <th scope="col">Number of Members</th>
      <th scope="col">Contribution Amount</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Turn Intervals</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{x.name}}</td>
      <td>{{x.num_of_members}}</td>
      <td>{{x.contrib_amount}}</td>
      <td>{{x.cum_amount}}</td>
      <td>{{x.num_of_days_per_turn}}</td>
      <td>{{x.end_date|date}}</td>
    </tr>
  </tbody>
</table>
          <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    View Members
  </a>
  
</p>
<br><br>
<div class="collapse" id="collapseExample">
  <!-- <div class="card card-body"> -->
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Position</th>
      <th scope="col">Avatar</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Corpad</td>
      <td>+2348061635326</td>
      <th scope="row">1</th>
      <td><a href="#"><img src="{% static 'images/CORPAP3.png' %}" class="avatar" alt="Avatar">
    </tr>
   {% for member in x.members.all %}
   <tr>
      <td>{{member.first_name}}</td>
      <td>{{member.mobile}}</td>
      <td>{{forloop.counter}}</td>
      <td><a href="#"><img src="{{member.profile_pic.url}}" class="avatar" alt="Avatar"></a></td>
    </tr>
{% endfor %}
</tbody>
</table>
<p>
  <a class="btn btn-primary" href='{% url "join" x.id %}' role="button">
    Join Group
  </a>
  
</p>
  </div>
</div>
        </div>
        
      </div>
      
      {% endfor %}
      
    </div>
  </div>
</section>
<!-- //home page service grids -->

<!-- testimonials section -->


<!-- stats section -->
<section id="stats" class="stats">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 margin-md-60">
                <h2 class="left-title">ADASHI</h2>
                <p class="white">A group of people team up to contribute a fixed and equal sum of money at specific intervals – daily, weekly, fortnightly, monthly or bi-monthly – enabling each member to collect the entire sum in rotation. When everyone in the group has benefited from the pool, a new rotation cycle is launched.</p>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-5">
                <div class="d-sm-flex justify-content-lg-around justify-content-between counter-main">
                    <div class="counter">
                        <div class="icon">
                            <span class="fa fa-users"></span>
                        </div>
                        <p class="value">{% total_users %}</p>
                        <p class="title white">Active Users</p>
                    </div>
                    <div class="counter">
                        <div class="icon">
                            <span class="fa fa-headphones"></span>
                        </div>
                        <p class="value">{% total_staff %}</p>
                        <p class="title white">Consultants</p>
                    </div>
                    <div class="counter">
                        <div class="icon">
                            <span class="fa fa-trophy"></span>
                        </div>
                        <p class="value">150</p>
                        <p class="title white">Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats section -->



<!-- site footer -->
<footer id="site-footer">
  <div class="top-footer">
    <div class="container my-md-5 my-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-logo mb-3">
            <a href="{%url 'home' %}">
              <span class="fa fa-shield"></span> CORPAD 
            </a>
          </div>
          <div>
            <p class="">Your best patner anytime.</p>
          </div>
        </div>
        <!-- Quick Links -->
        <div class="col-lg-3 col-md-4 mt-lg-0 mt-5">
          <h4 class="footer-title">Quick Links</h4>
          <ul class="footer-list">
            <li><a href="# "> About company</a></li>
            <li><a href="# "> Explore services</a></li>
            <li><a href="#"> How It Works?</a></li>
            
          </ul>
        </div>
        <!-- Newsletter -->
        <div class="col-lg-5 col-md-8 mt-lg-0 mt-5">
          <h4 class="footer-title">Newsletter</h4>
          <p class="mb-4">By subscribing to our mailing list you will always be updated with the latest news from us.
          </p>
          <form class="newsletter-form">
            <input class="input-rounded" type="text" required="" placeholder="Enter Email Address">
            <button type="submit" title="Subscribe" class="btn btn-primary btn-style" name="submit" value="Submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-lg-left text-center mb-lg-0 mb-3">
          <p class="copyright">© 2020 CORPAD . All Rights Reserved. Design by <a
            href="www.corpad.ng">CORPAD</a></p>
        </div>
        <div class="col-lg-4 align-center text-lg-right text-center">
          <a href="#facebook" class="social-item"><span class="fa fa-facebook-f"></span></a>
          <a href="#twitter" class="social-item"><span class="fa fa-twitter"></span></a>
          <a href="#linkedin" class="social-item"><span class="fa fa-linkedin"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- //site footer -->

<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>

<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- //move top -->

<!-- javascript -->
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %} "></script>

<!-- libhtbox -->
<script src="{% static 'assets/js/lightbox-plus-jquery.min.js' %} "></script>

<!-- particles -->
<script src='{% static "assets/js/particles.min.js" %} '></script>
<script src="{% static 'assets/js/script.js' %} "></script>
<!-- //particles -->

<!-- owl carousel -->
<script src="{% static 'assets/js/owl.carousel.js' %} "></script>
<script>
  $(document).ready(function () {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      margin: 10,
      nav: true,
      loop: false,
      responsive: {
        0: {
          items: 1
        },
        767: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    })
  })
</script>

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="{% static 'assets/js/bootstrap.min.js' %} "></script>

</body>
</html>
