{% extends "adashi/admin/layouts/base2.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">{{category.name}}</h4>
                  <p>{{category.contrib_amount}}</p>
                  <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          FIRST NAME
                        </th>
                        <th>
                          LAST NAME
                        </th>
                        <th>
                          PHONE
                        </th>
                        <th>
                          POSITION
                        </th>
                        <th>
                          AVATAR
                        </th>
                      </thead>
                      <tbody>
                        {% for member in category.members.all%}
                        <tr>
                          <td>
                            {{member.first_name}}
                          </td>
                          <td>
                            {{member.last_name}}
                          </td>
                          <td>
                            {{member.mobile}}
                          </td>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>
                          
                                    <div class="custo-img-res">
                                        <img src="{{member.profile_pic.url}}"  height="40" alt=" " class="">
                                    </div>
                                    
                                
                          </td>
                        </tr>
                        {% endfor %}
                        <a href='{% url "join-group" %}' class="btn btn-primary btn-sm">JOIN {{category.name}}</a>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      
{% endblock%}